/* **** HEADER ***** */


.navbar {
    background-color: #026394;    
    width: 100%;
    
    li {
        list-style: none;

        a {
            text-decoration: none;
            color: #B1D0E0;
            cursor: pointer;            
        }
    }    
}

 /* ***footer**** */

.pie{
    padding-top: 1rem;
}

footer{
    div {
        ul{
            li {
                a{
                text-decoration: none;  
                cursor: pointer;
                color: dimgrey;

                &:hover{
                    color: #B1D0E0;
                    }
                }               
            }
        }  
    }
}



