/* **** HEADER ***** */

.navbar {
    background-color: #406882;
    padding: 0.5em;
    width: 100%;    
    position: fixed;

    a{
        color: #B1D0E0;
        cursor: pointer;
    }

    dropdown-menu{
        background-color: blueviolet;
    }
}

dropdown-menu{
    background-color: blueviolet;
}