/* Main -- Info */
.flex-container {
  display: flex;
  justify-content: space-between;
  background-color: #1a7eafda;
  padding: 1.3rem;
  border: 0.5rem solid rgb(32, 42, 56);

  div {
    margin: 1rem;
    flex-basis: auto;
    text-align: center;
  }
}

.mapa {
  margin: 10rem 1rem 5rem 1rem;
}
/* main desktop */
.carousel-inner {
  position: relative;

  a {
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translate(-50%, -50%);

    h2 {
      color: aliceblue;
      font-size: 5rem;
      font-weight: bold;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        text-shadow: 13px 15px 37px black;
      }
    }
  }
}

/* main--movil */

.movil {
  display: none;
}
